.md-header__button.md-logo {
    margin-top: 25;
    margin-bottom: -100;
    padding-top: 10;
    padding-bottom: -100;
}
  
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    height: 2rem;
    width: 2rem;
}

.item-image {
    margin-top: -40px !important;
    width: 25%;
}

.janky-fix {
    height: 2rem !important;
    width: 25rem !important;
}

.emoji-item {
    --md-icon-size: {px2em(256px)};
}

.flip-horizontal {
    transform: scaleX(-1);
}

.top-spacing {
    margin-top: 15px !important;
}

.recipe-item{
    width: 75%;
}

.round-image{
    border-radius: 0.5rem !important;
}

@media (max-width: 500px) {
    .item-image {
        margin-top: -50px !important;
        margin-left: -10px !important;
        margin-right: -10px !important;
        width: 350px !important;
    }
}

.hidden {
    visibility: hidden !important;
}

.md-typeset .three-grid {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)) !important;
}